<div class="row col-sm-6 col-sm-offset-3" style="text-align: center;">
  <%= link_to "New Map", new_map_path, class: "btn btn-primary btn-block" %>

  <h3>Maps</h3>

  <div class="list-group">
    <% @maps.each do |map| %>
      <%= link_to map.title, map, class: "list-group-item" %>
    <% end %>
  </div>
</div>